body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrk1M1-UGnj0mlARX5pCSlgyr_F0hCDFwZdg&usqp=CAU);
}

.btn {
  margin: 10px;
  color: whitesmoke;
  background-color: slategray;
  border-color: darkblue;
  width: 400px;
  
  

}

.btn:hover{
  color:darkblue
}

.d-grid {
  
}

  img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-top: 80px;
  margin-bottom: 30px;


}
div {
  justify-content: center;
}
