body {
  background-color: black;
}

.btn {
  margin: 10px;
  color: whitesmoke;
  background-color: slategray;
  border-color: darkblue;
  width: 400px;
  align-items: ;
  

}

.btn:hover{
  color:darkblue
}

.d-grid {
  
}

  img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin-top: 80px;
  margin-bottom: 30px;


}
