body {
  background-color: black;
}

.btn {
  
  margin: 10px;

}

.d-grid {
  
}

.text-center img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 75px rounded
  border-style: hidden;
  margin-top: 80px;
  margin-bottom: 30px;


}
